<!-- TABLE -->
<div class="table-responsive team-status-table-wrap">
  <table class="table table-bordered align-middle text-center team-status-table">
    <thead>
      <tr>
        <th class="sticky-col-1" rowspan="2">Team Name</th>
        <th class="sticky-col-2" rowspan="2">Member</th>
        <% sprint_list.each do |sprint| %>
          <th colspan="6" class="sprint-group <%= sprint.parameterize %>"><%= sprint %></th>
        <% end %>
      </tr>

      <tr>
        <% rubric_items = ["FS&D", "FA", "TE", "TT", "KU", "PP"] %>
        <% sprint_list.each do |sprint| %>
          <% rubric_items.each do |item| %>
            <% tooltip = case item
              when "FS&D" then "<strong>Feature Selection and Decomposition</strong><br><b>Metric:</b> Student cards per status in this sprint (Backlog, Todo, In Progress, Done)."
              when "FA"   then "<strong>Feature Assignments</strong><br><b>Metric:</b> Number of cards assigned to this student in this sprint."
              when "TE"   then "<strong>Time Estimate</strong><br><b>Metric:</b> Estimated hours for this student's sprint cards."
              when "TT"   then "<strong>Time Taken</strong><br><b>Metric:</b> Logged hours from Kanban Time Taken / Time Spent fields for this student's sprint cards."
              when "KU"   then "<strong>Kanban Updates</strong><br><b>Metric:</b> Board health indicators for sprint cards."
              when "PP"   then "<strong>Product Progress</strong><br><b>Metric:</b> Done on board vs Done in this sprint."
              else "<strong>Metric</strong><br><b>Metric:</b> Description unavailable."
            end %>

            <th
              class="sprint-group <%= sprint.parameterize %>"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              data-bs-placement="top"
              title="<%= tooltip.html_safe %>"
              style="font-size: 0.75rem;">
              <%= item %>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% teams.each do |team| %>
        <% team_summary = team_overview_by_id[team.id] || {} %>
        <% team.students.each_with_index do |student, i| %>
          <% student_metric_by_sprint = status_metrics.dig(team.id, student.id) || {} %>
          <tr
            data-team-filter="1"
            data-team-id="<%= team.id %>"
            data-at-risk="<%= team_summary[:any_at_risk] %>"
            data-missing-done="<%= team_summary[:any_missing_sprint_done] %>">
            <% if i == 0 %>
              <td class="sticky-col-1" rowspan="<%= team.students.size + 1 %>">
                <div class="sticky-cell">
                  <%= link_to team.name, teams_path(semester), class: "text-decoration-none fw-semibold" %>
                  <% if team_summary[:any_at_risk] %>
                    <span class="team-risk-badge">At Risk</span>
                  <% end %>
                </div>
              </td>
            <% end %>

            <td class="sticky-col-2">
              <div class="sticky-cell">
                <%= "#{student.name.split.first} #{student.name.split.last&.first}." %>
              </div>
            </td>

            <% sprint_list.each do |sprint| %>
              <% rubric_items.each do |item| %>
                <% metric = student_metric_by_sprint[sprint] || {} %>
                <td class="text-center sprint-group <%= sprint.parameterize %>">
                  <% case item %>
                    <% when "FS&D" %>
                      <% fsd = metric[:fsd] || {} %>
                      <%= "#{fsd[:backlog] || 0}, #{fsd[:todo] || 0}, #{fsd[:in_progress] || 0}, #{fsd[:done] || 0}" %>
                    <% when "FA" %>
                      <%= metric.dig(:fa, :assigned_cards) || 0 %>
                    <% when "TE" %>
                      <%= metric.dig(:te, :estimated_hours) || 0 %>
                    <% when "TT" %>
                      <%= metric.dig(:ts, :time_spent_hours) || 0 %>
                    <% when "KU" %>
                      <span class="text-muted">-</span>
                    <% when "PP" %>
                      <span class="text-muted">-</span>

                    <% else %>
                      <span>-</span>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>

        <tr
          class="team-total-row"
          data-team-filter="1"
          data-team-id="<%= team.id %>"
          data-at-risk="<%= team_summary[:any_at_risk] %>"
          data-missing-done="<%= team_summary[:any_missing_sprint_done] %>">
          <td class="sticky-col-2"><strong>Total</strong></td>

          <% sprint_list.each do |sprint| %>
            <% rubric_items.each do |item| %>
              <% team_metric = team_sprint_metrics.dig(team.id, sprint) || {} %>
              <td class="text-center sprint-group <%= sprint.parameterize %>">
                <% case item %>
                  <% when "FS&D" %>
                    <strong><%= "#{team_metric[:backlog_cards] || 0}, #{team_metric[:todo_cards] || 0}, #{team_metric[:in_progress_cards] || 0}, #{team_metric[:done_cards] || 0}" %></strong>
                  <% when "FA" %>
                    <strong><%= team.students.sum { |s| status_metrics.dig(team.id, s.id, sprint, :fa, :assigned_cards).to_i } %></strong>
                  <% when "TE" %>
                    <strong><%= team_metric[:estimated_hours] || 0 %></strong>
                  <% when "TT" %>
                    <strong><%= team_metric[:time_spent_hours] || 0 %></strong>
                  <% when "KU" %>
                    <strong>Archived: <%= team_metric[:archived_column_exists] ? 'Yes' : 'No' %> | Missing TT: <%= team_metric[:cards_missing_time_spent] || 0 %></strong>
                  <% when "PP" %>
                    <strong>Done: <%= team_metric[:current_board_done_cards] || 0 %> | <%= sprint %>: <%= team_metric[:sprint_done_cards] || 0 %></strong>
                  <% else %>
                    <span>-</span>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
